body {
	font-family: 'Charm', sans-serif;
	font-weight: 300;
	color: #000;
	font-size: 1rem;
	line-height: 22px;
}

.header {
	background-color: #fcdb00;
	padding-top: 30px;
	align-content: center;
}


.header-top{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	padding-top: 60px;
	margin-bottom: 145px;
}

.container {
	max-width: 930px;
	margin: 0 auto;
}

.section-slider {
	background-color: #fcdb00;
}

.header-nav {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.header-nav__item{
	list-style-type: none; 
	margin: 0 12px;
	padding: 10px 17px;
	-webkit-transition: all linear 300ms;
	-o-transition: all linear 300ms;
	transition: all linear 300ms;
}

.header-nav__item:hover {
	background:#E7CA0F;
	border-radius: 4px;
}

.header-nav__link {
	text-decoration: none;
	font-size: 22px;
	color: #010101;
	font-family: 'PT Sans', sans-serif;
	font-weight: 700;
	justify-content: flex-end;
}

.slider-navigation ul{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	
}


.slider-navigation ul li {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin-right: 10px;
}


.slide-content__subtitle {
	font-family: 'PT Sans', sans-serif;
	font-size: 20px;
	line-height: 24px;
	font-weight: 400;
	color: #313841;
	margin-bottom: 22px;
}

.slide-content__title {
	margin-bottom: 22px;
}

.slide-content {
	max-width: 42%;
}

.slide-content__text {
	font-size: 16px;
	font-family: 'PT Sans' sans-serif;
	font-weight: 400;
	line-height: 20px;
	color: #555;
}

.slide {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
}

.slide-img {
	justify-content: flex-end;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	padding-right: 40px;
}

.slide-icons__link {
	margin: 0 auto;
	margin-right: 38px;
}

.slider-navigation__items {
	display: inline-block;
}

.features-title h1 {
	padding-top: 118px;
	color: #010101;
	font-size: 30px;
	text-align: center;
	font-weight: bold;

}

.features-text {
	padding-top: 17px;
	padding-bottom: 91px;
	text-align: center;
	font-weight: 400;
}

.features-item h3 {
	font-size: 20px;
	color: #010101;
	font-family: "PT Sans";
	line-height: 24px;
	font-weight: bold;
}

.features-item p {
	font-size: 15px;
	font-weight: 400px;
	color: #898989;
}

.features-items {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: space-between;
	font-family: 'Titillium Web', sans-serif;
	color: #fff;
}

.features-item {
	flex-basis: 30%;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 30px;
}

.features-item__img {
	margin-right: 34px;
}

.footer {
	padding-top: 96px;
	background-color: #010101;
	align-content: center;
}

.keep-title {
	color: #fcdb00;
	font-family: 'PT Sans';
	font-size: 18px;
	text-align: center;
}

.keep-text {
	color: #898989;
	font-size: 20px;
	font-family: 'PT Sans';
	padding-top: 17px;
	padding-bottom: 17px;
}

.form-inputs {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: center;
}

.form-input {
	flex-basis: 40%;
	height: 50px;
	background-color: #ffffff;
	border: none;
	border-radius: 5px;
	margin: 0 16px;
	padding: 5px 100px;
	font-size: 18px;
	color: #656a71;
}

#send-button {
	font-size: 16px;
	text-transform: uppercase;
	background-color: #fcdb00;
	padding: 20px 55px;
	border: none;
	border-radius: 5px;
	color: #010101;
	margin-bottom: 115px;
}

.services-two__socials ul{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	
}


.services-two__socials ul li {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin-right: 10px;
}